<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geekluxun.pagecollection.repo.dao.TCollectionMemberMapper">
    <resultMap id="BaseResultMap" type="com.geekluxun.pagecollection.domain.valobj.CollectionMember">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="member_id" jdbcType="VARCHAR" property="memberId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="collection_id" jdbcType="VARCHAR" property="collectionId.id"/>
        <result column="concurrency_version" jdbcType="INTEGER" property="concurrencyVersion"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
        <result column="modify_time" jdbcType="DATE" property="modifyTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, member_id, name, type, concurrency_version, create_time, modify_time
    </sql>

    <insert id="insert" parameterType="com.geekluxun.pagecollection.domain.valobj.CollectionMember">
        insert into t_collection_member (id,
                                         member_id,
                                         name,
                                         type,
                                         collection_id,
                                         concurrency_version,
                                         create_time,
                                         modify_time)
        values (#{id,jdbcType=BIGINT},
                #{memberId,jdbcType=VARCHAR},
                #{name,jdbcType=VARCHAR},
                #{type,jdbcType=TINYINT},
                #{collectionId.id,jdbcType=TINYINT},
                #{concurrencyVersion,jdbcType=INTEGER},
                #{createTime,jdbcType=TIMESTAMP},
                #{modifyTime,jdbcType=TIMESTAMP})
    </insert>
    <delete id="delectByMemberId">

    </delete>

    <select id="queryByCollectionId" resultMap="BaseResultMap">

    </select>
</mapper>