<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geekluxun.pagecollection.repo.dao.TPageMapper">
    <resultMap id="BaseResultMap" type="com.geekluxun.pagecollection.domain.entity.Page">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="page_id" jdbcType="VARCHAR" property="pageId.id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="icon_uri" jdbcType="VARCHAR" property="iconUri"/>
        <result column="level" jdbcType="INTEGER" property="level"/>
        <result column="browse_total_count" jdbcType="INTEGER" property="pageBrowse.browseTotalCount"/>
        <result column="last_browse_time" jdbcType="TIMESTAMP" property="pageBrowse.lastBrowseTime"/>
        <result column="readed" jdbcType="TINYINT" property="pageBrowse.readed"/>
        <result column="concurrency_version" jdbcType="INTEGER" property="concurrencyVersion"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, page_id, name, url, icon_uri, level, browse_total_count, last_browse_time, readed,
        concurrency_version, create_time, modify_time
    </sql>

    <insert id="insert" parameterType="com.geekluxun.pagecollection.domain.entity.Page">
        insert into t_page (id,
                            page_id,
                            title,
                            url,
                            icon_uri,
                            level,
                            browse_total_count,
                            last_browse_time,
                            readed,
                            concurrency_version,
                            create_time,
                            modify_time)
        values (#{id,jdbcType=BIGINT},
                #{pageId.id,jdbcType=VARCHAR},
                #{title,jdbcType=VARCHAR},
                #{url,jdbcType=VARCHAR},
                #{iconUri,jdbcType=VARCHAR},
                #{level,jdbcType=INTEGER},
                #{pageBrowse.browseTotalCount,jdbcType=INTEGER},
                #{pageBrowse.lastBrowseTime,jdbcType=TIMESTAMP},
                #{pageBrowse.readed,jdbcType=TINYINT},
                #{concurrencyVersion,jdbcType=INTEGER},
                #{createTime,jdbcType=TIMESTAMP},
                #{modifyTime,jdbcType=TIMESTAMP})
    </insert>

    <select id="queryByPageId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_page
        where page_id = #{pageId}
    </select>
</mapper>