<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geekluxun.pagecollection.repo.dao.TPageMapper">
    <resultMap id="BaseResultMap" type="com.geekluxun.pagecollection.domain.entity.Page">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="page_id" jdbcType="BIGINT" property="pageId.id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="icon_uri" jdbcType="VARCHAR" property="iconUri"/>
        <result column="level" jdbcType="INTEGER" property="level"/>
        <result column="browse_total_count" jdbcType="INTEGER" property="pageBrowse.browseTotalCount"/>
        <result column="last_browse_time" jdbcType="DATE" property="pageBrowse.lastBrowseTime"/>
        <result column="readed" jdbcType="TINYINT" property="pageBrowse.readed"/>
        <result column="concurrency_version" jdbcType="INTEGER" property="concurrencyVersion"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
        <result column="modify_time" jdbcType="DATE" property="modifyTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, page_id, title, url, icon_uri, level, browse_total_count, last_browse_time, readed,
        concurrency_version, create_time, modify_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_page
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from t_page
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.geekluxun.pagecollection.domain.entity.Page">
        insert into t_page (id,
                            page_id,
                            title,
                            url,
                            icon_uri,
                            level,
                            browse_total_count,
                            last_browse_time,
                            readed,
                            concurrency_version,
                            create_time,
                            modify_time)
        values (#{id,jdbcType=BIGINT},
                #{pageId.id,jdbcType=BIGINT},
                #{title,jdbcType=VARCHAR},
                #{url,jdbcType=VARCHAR},
                #{iconUri,jdbcType=VARCHAR},
                #{level,jdbcType=INTEGER},
                #{browseTotalCount,jdbcType=INTEGER},
                #{lastBrowseTime,jdbcType=DATE},
                #{readed,jdbcType=TINYINT},
                #{concurrencyVersion,jdbcType=INTEGER},
                #{createTime,jdbcType=DATE},
                #{modifyTime,jdbcType=DATE})
    </insert>
    <!--<insert id="insertSelective" parameterType="com.geekluxun.entity.TPage">-->
        <!--insert into t_page-->
        <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
            <!--<if test="id != null">-->
                <!--id,-->
            <!--</if>-->
            <!--<if test="pageId != null">-->
                <!--page_id,-->
            <!--</if>-->
            <!--<if test="title != null">-->
                <!--title,-->
            <!--</if>-->
            <!--<if test="url != null">-->
                <!--url,-->
            <!--</if>-->
            <!--<if test="iconUri != null">-->
                <!--icon_uri,-->
            <!--</if>-->
            <!--<if test="level != null">-->
                <!--level,-->
            <!--</if>-->
            <!--<if test="browseTotalCount != null">-->
                <!--browse_total_count,-->
            <!--</if>-->
            <!--<if test="lastBrowseTime != null">-->
                <!--last_browse_time,-->
            <!--</if>-->
            <!--<if test="readed != null">-->
                <!--readed,-->
            <!--</if>-->
            <!--<if test="concurrencyVersion != null">-->
                <!--concurrency_version,-->
            <!--</if>-->
            <!--<if test="createTime != null">-->
                <!--create_time,-->
            <!--</if>-->
            <!--<if test="modifyTime != null">-->
                <!--modify_time,-->
            <!--</if>-->
        <!--</trim>-->
        <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
            <!--<if test="id != null">-->
                <!--#{id,jdbcType=BIGINT},-->
            <!--</if>-->
            <!--<if test="pageId != null">-->
                <!--#{pageId,jdbcType=BIGINT},-->
            <!--</if>-->
            <!--<if test="title != null">-->
                <!--#{title,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="url != null">-->
                <!--#{url,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="iconUri != null">-->
                <!--#{iconUri,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="level != null">-->
                <!--#{level,jdbcType=INTEGER},-->
            <!--</if>-->
            <!--<if test="browseTotalCount != null">-->
                <!--#{browseTotalCount,jdbcType=INTEGER},-->
            <!--</if>-->
            <!--<if test="lastBrowseTime != null">-->
                <!--#{lastBrowseTime,jdbcType=DATE},-->
            <!--</if>-->
            <!--<if test="readed != null">-->
                <!--#{readed,jdbcType=TINYINT},-->
            <!--</if>-->
            <!--<if test="concurrencyVersion != null">-->
                <!--#{concurrencyVersion,jdbcType=INTEGER},-->
            <!--</if>-->
            <!--<if test="createTime != null">-->
                <!--#{createTime,jdbcType=DATE},-->
            <!--</if>-->
            <!--<if test="modifyTime != null">-->
                <!--#{modifyTime,jdbcType=DATE},-->
            <!--</if>-->
        <!--</trim>-->
    <!--</insert>-->
    <!--<update id="updateByPrimaryKeySelective" parameterType="com.geekluxun.entity.TPage">-->
        <!--update t_page-->
        <!--<set>-->
            <!--<if test="pageId != null">-->
                <!--page_id = #{pageId,jdbcType=BIGINT},-->
            <!--</if>-->
            <!--<if test="title != null">-->
                <!--title = #{title,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="url != null">-->
                <!--url = #{url,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="iconUri != null">-->
                <!--icon_uri = #{iconUri,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="level != null">-->
                <!--level = #{level,jdbcType=INTEGER},-->
            <!--</if>-->
            <!--<if test="browseTotalCount != null">-->
                <!--browse_total_count = #{browseTotalCount,jdbcType=INTEGER},-->
            <!--</if>-->
            <!--<if test="lastBrowseTime != null">-->
                <!--last_browse_time = #{lastBrowseTime,jdbcType=DATE},-->
            <!--</if>-->
            <!--<if test="readed != null">-->
                <!--readed = #{readed,jdbcType=TINYINT},-->
            <!--</if>-->
            <!--<if test="concurrencyVersion != null">-->
                <!--concurrency_version = #{concurrencyVersion,jdbcType=INTEGER},-->
            <!--</if>-->
            <!--<if test="createTime != null">-->
                <!--create_time = #{createTime,jdbcType=DATE},-->
            <!--</if>-->
            <!--<if test="modifyTime != null">-->
                <!--modify_time = #{modifyTime,jdbcType=DATE},-->
            <!--</if>-->
        <!--</set>-->
        <!--where id = #{id,jdbcType=BIGINT}-->
    <!--</update>-->
    <!--<update id="updateByPrimaryKey" parameterType="com.geekluxun.entity.TPage">-->
        <!--update t_page-->
        <!--set page_id             = #{pageId,jdbcType=BIGINT},-->
            <!--title               = #{title,jdbcType=VARCHAR},-->
            <!--url                 = #{url,jdbcType=VARCHAR},-->
            <!--icon_uri            = #{iconUri,jdbcType=VARCHAR},-->
            <!--level               = #{level,jdbcType=INTEGER},-->
            <!--browse_total_count  = #{browseTotalCount,jdbcType=INTEGER},-->
            <!--last_browse_time    = #{lastBrowseTime,jdbcType=DATE},-->
            <!--readed              = #{readed,jdbcType=TINYINT},-->
            <!--concurrency_version = #{concurrencyVersion,jdbcType=INTEGER},-->
            <!--create_time         = #{createTime,jdbcType=DATE},-->
            <!--modify_time         = #{modifyTime,jdbcType=DATE}-->
        <!--where id = #{id,jdbcType=BIGINT}-->
    <!--</update>-->
</mapper>