<!DOCTYPE html>
<html>
<head>

    <!--<meta charset="utf-8"/>-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge"/>-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1"/>-->
    <!--<meta name="description" content="云收藏 | 让收藏更简单 |收藏夹 |网络收藏夹"/>-->
    <!--<meta name="author" content=""/>-->

    <title>云知识库</title>
    <link rel="icon" href="/img/icon.ico" type="image/x-icon"/>
    <!-- Bootstrap Core CSS 使用webjar locator方式不需要引用版本号-->
    <!--<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />-->
    <link href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

    <link href="/css/freelancer.min.css" rel="stylesheet" type="text/css"/>

</head>
    
<body>
    <p style=" text-align: center;font-size: 30px; font-family: 'Arial Black';height: auto; width: auto; color: blue">云收藏首页</p>
    <!--<table >-->
        <!--<tr>-->
            <!--<td >111</td>-->
            <!--<td>222</td>-->
            <!--<td>333</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td>444</td>-->
            <!--<td>555</td>-->
            <!--<td>666</td>-->
        <!--</tr>-->
    <!--</table>-->
    <ul style="list-style-type: none">
        <li>111</li>
        <li>222</li>
        <li>333</li>
    </ul>
    <div style="color: red">
        <span>hello</span>
        <span>world</span>
    </div>
</body>

</html>
